# Default ignored files for IntelliJ IDEA
/shelf/
/workspace.xml
/httpRequests/
/dataSources/
/dataSources.local.xml
.idea/misc.xml

# Ignore compiled Java class files
*.class

# Ignore build directories
out/
target/
build/

# Ignore logs and temporary files
*.log
*.tmp

# Ignore firebase initializer as we have our own paths in here
src/main/java/firebase/FirebaseInitializer.java